<%- include('./partials/header') %>


    <section class="girl-poster-section">
        <div  class="girl-description">
            <h2>Stylish Girl Dress</h2>
            <p>
                Explore our collection of stylish girl dresses perfect for any occasion. 
                Our dresses are designed to offer both comfort and elegance, ensuring 
                your little one looks fabulous every day. Check out our latest designs!
            </p>
            <a href="/shop">View more</a>
        </div>
        <div class="girl-poster">
            <img src="/images/girlDress.webp" alt="Stylish Girl Dress">
        </div>
    </section>
    <section class="boy-poster-section">
        <div class="boy-poster">
            <img src="/images/boyDress.webp" alt="Stylish boy Dress">
        </div>
        <div class="boy-description">
            <h2>Stylish Boy Dress</h2>
            <p>
                Explore our collection of stylish boy dresses perfect for any occasion. 
                Our dresses are designed to offer both comfort and elegance, ensuring 
                your little one looks fabulous every day. Check out our latest designs!
            </p>
            <a href="/shop">View more</a>

        </div>
        
    </section>
    <section class="About">
        <h3>About Us</h3>
        <p>Welcome to Seelee – where fashion meets passion!

            At Seelee, we believe that clothing is more than just fabric; it’s a reflection of who you are, your style, and your personality. We offer a wide range of trendy and timeless dresses that cater to all occasions, whether it’s casual, workwear, or evening elegance.
            
            </p>

    </section>
    <section class="copyRight">
        <a>© 2024 seelee. All Rights Reserved.</a>

    </section>



<%- include('./partials/footer') %>
